!!! 5
%html
	%head
		%link{:href => "http://imago.in/stylesheets/styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
	%body
		#header
			%nav
		.wrapper
			%section
				#title
					%h1 Imago
					%p
					%hr
					%span.credits.left
						Project maintained by
						%a{:href => "http://www.travisberry.com"} Travis Berry
					%span.credits.right
						Theme by
						%a{:href => "http://twitter.com/#!/michigangraham"} mattgraham
				.hero-unit
					%hr
					%a{:href => "#{@link}"}
						= @link
					%hr