!!! 5
%html
	%head
		%link{:href => "http://imago.in/stylesheets/styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
	%body
		#header
			%nav
		.wrapper
			%br
			%br
			.hero-unit
				%h1 Imago
				%hr
				%a{:href => "#{@link}"}
					= @link
			Created by 
			%a{:href => "http://www.travisberry.com"} Travis Berry