!!! 5
%html
	%head
		%link{:href => "/css/twitter.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
	%body
		.container
			.hero-unit
				%h1 Screencaps
				= @link
			Created by 
			%a{:href => "http://www.travisberry.com"} Travis Berry