!!! 5
%html
	%head
		%link{:href => "http://imago.in/stylesheets/styles.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
		%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
		%script{:src => "http://imago.in/javascripts/respond.js"}
		%meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}
	%body
		#header
			%nav
		.wrapper
			%section
				#title
					%h1 Imago
					%p
					%hr
					%span.credits.left
						Project maintained by
						%a{:href => "http://www.travisberry.com"} Travis Berry
					%span.credits.right
						Theme by
						%a{:href => "http://twitter.com/#!/michigangraham"} mattgraham
				.hero-unit{:style => "text-align:center"}
					%hr
					%a{:href => "#{@link}", :style => "text-align:center"}
						= @link
				%br
				%hr