!!! 5
%html
	%head
		%link{:href => "http://netdna.bootstrapcdn.com/bootswatch/2.1.0/readable/bootstrap.min.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
	%body
		.container
			%br
			%br
			.hero-unit
				%h1 Imago
				%hr
				%a{:href => "#{@link}"}
					= @link
			Created by 
			%a{:href => "http://www.travisberry.com"} Travis Berry